# Datos de entrenamiento
tess_data/
*.wav
*.mp3

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Otros
*.log
.DS_Store
Thumbs.db