pip>=23.0.1
setuptools>=65.5.0
wheel
Flask==2.3.3
Flask-Cors==4.0.0
numpy==1.23.5
tensorflow==2.11.0
librosa
matplotlib
opencv-python-headless
soundfile
gdown
setuptools
requests==2.31.0
gunicorn==21.2.0
Pillow==10.0.1